@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>System for reporting and recording sales representatives' visits to customers</p>
    <img src="logo.jpg" alt="logo" width="512" style="border-radius: 15px;" />
</div>
